<html>
    <head>
        <title>Matador Restaurant</title>
    </head>
    <body style="margin: 0px;">
        <div id="header" style="width: 100%;  border-width: 0px; border-bottom: 2em; border-color: #A8060E; border-style: solid;">
            <a href="{% url 'index' %}" style="text-decoration: none; color: black;"><h1 style="margin-bottom: 0px; margin-left: 1em;">Matador Restaurant</h1></a>
            <a href="{% url 'logout' %}" style="float: right; color: white; margin-right: 2em;">
                <h3>Logout</h3>
            </a><br />
        </div>
        <div id="container" style="margin: 2em;">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
