{% extends "website/base.html" %}

{% block content %}
{% if success %}
    <span style="color: #A8060E;">Your last action completed successfully.</span><br />
{% endif %}
<h3>
    Dashboard for {{ user.username }}: {{ user.team.name}}<br />
    <span title="Connoisseur status">
        Connoisseur status: 
        {% if user.connoisseur %}
            &#x2713;
        {% else %}
            &#x2717;
        {% endif %}
    </span><br />
</h3><br />
<a href="{% url 'edit_member' %}">Edit User Info</a><br /><br />
<a href="{% url 'view_user_reviews' pk=user.id %}">View Your {{ review_count }} Reviews</a><br />
<a href="{% url 'view_user_restaurants' pk=user.id %}">View Your {{ res_count }} Visited Restaurants</a><br /><br />

<a href="{% url 'add_restaurant' %}">Add Restaurant</a><br />
<a href="{% url 'view_restaurants' %}">View Restaurants</a><br /><br />
<a href="{% url 'add_team' %}">Add Team</a><br />
{% endblock %}
