{% extends "website/base.html" %}

{% block content %}
<h3>
    Dashboard for {{ user.username }}: {{ user.team.name}}
    <span title="Connoisseur status">
        {% if user.connoisseur %}
            &#x2713;
        {% else %}
            &#x2717;
        {% endif %}
    </span><br />
</h3><br />
<a href="{% url 'edit_member' %}">Edit User Info</a><br />
--View Your Reviews<br />
--View Your Visited Restaurants<br /><br />

<a href="{% url 'add_restaurant' %}">Add Restaurant</a><br />
View Restaurants<br />
{% endblock %}
