{% extends "website/base.html" %}

{% block content %}

{% if first %}
    Write the first review for your new restaurant.
{% endif %}

{% if form.errors %}
    <p>There was an error. Please try again.</p>
{% endif %}

<form action="/restaurant/add_review/{{ pk }}", method="POST">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label }}:</td> <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
