{% extends "website/base.html" %}

{% block content %}
    <h3>{{ restaurant.name }}</h3>
    {{ restaurant.description }}<br />
    {% if restaurant.latlon %}
        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDs4jmDlUStZt-HkshvFL_OlYPcrqlAz28
            &q={{ restaurant.latlon }}" allowfullscreen>
        </iframe><br />
    {% endif %}
    <a href="{% url 'add_review' pk=restaurant.id %}">
        Add new review
    </a><br /><br />
    {% for review in reviews %}
        <div style="margin-left: 2em;">
            {{ review.member.username }} says:<br />
            {{ review.comment }}<br /><br />
        </div>
    {% endfor %}
{% endblock %}
